<section class="contact-page-sec">
  <div class="contact-container">
    <div class="contact-info-wrapper">
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-map-marked"></i>
          </div>
          <div class="contact-info-text">
            <h2>Address</h2>
            <span>B-110 Ist Floor, Sector 64 Noida</span>
            <span>Gautam Budh Nagar, Uttar Pradesh 201301</span>
          </div>
        </div>
      </div>
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="contact-info-text">
            <h2>Email</h2>
            <span>infooremIpsum.com</span>
            <!-- <span>yourmaimail.com</span> -->
          </div>
        </div>
      </div>
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-clock"></i>
          </div>
          <div class="contact-info-text">
            <h2>Office Time</h2>
            <span>Mon - Fri  9:00 am - 6:00 pm</span>
            <span>Sat - 9:00 am - 5:00 pm</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-form-map">
      <div class="contact-form">
        <h2>Get in Touch</h2>
        <form action="mailto:starteleinfo@gmail.com" method="POST" enctype="text/plain">
          <div class="form-grid"  id="your-name-input-outer">
            <div class="single-input-field">
              <input type="text" placeholder="Your Name" name="name" style="background-color: white;" id="your-name-input" />
            </div>
            <div class="single-input-field">
              <input type="email" placeholder="E-mail" name="email" required style="background-color: white;" id="email-input"/>
            </div>
            <div class="single-input-field">
              <input type="text" placeholder="Phone Number" name="phone"  style="background-color: white;" id="phone-input"/>
            </div>
            <div class="single-input-field">
              <input type="text" placeholder="Subject" name="subject" style="background-color: white;" id="subject-input" />
            </div>
          </div>
          <div class="single-input-field full-width">
            <textarea placeholder="Write Your Message" name="message" style="background-color: white;"  id="message-input"></textarea>
          </div>
          <div class="single-input-fieldsbtn">
            <input type="submit" value="Send Now" />
          </div>
        </form>
      </div>
      <div class="contact-page-map">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109741.02912911311!2d76.69348873658222!3d30.73506264436677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed0be66ec96b%3A0xa5ff67f9527319fe!2sChandigarh!5e0!3m2!1sen!2sin!4v1553497921355" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3502.6032047175613!2d77.37628507550001!3d28.611678275676102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDM2JzQyLjAiTiA3N8KwMjInNDMuOSJF!5e0!3m2!1sen!2sin!4v1747914074372!5m2!1sen!2sin" width="100%" height="450"  frameborder="0"  allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
