 <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Reliable GPS Tracking Solutions for Vehicles & Assets
          </h1>
          <p class="hero-description">
            Stay connected and in control with real-time tracking, detailed reports, and intelligent alerts.
      Perfect for fleet management, personal vehicles, and asset security.
          </p>
          <a href="#product" class="btn btn--fill margin-right-btn"
            > Explore Our Products
          </a>
          <a href="#contact" class="btn btn--outline margin-right-btn"
            >Request a Demo&darr;
          </a>
        </div>
        <div class="hero-img-box">
              <img src="assets/images/hero.png" alt="prduct Image" id="hero-product-image"  />
        </div>
        <div class="delivered-meals">
          <div class="delivered-imgs">
            <img src="assets/images/STC05.jpeg" alt="Customer photo" />
            <img src="assets/images/STC01.jpeg" alt="Customer photo" />
            <img src="assets/images/STC04.jpeg" alt="Customer photo" />
            <!-- <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-4.jpg" alt="Customer photo" />
            <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-5.jpg" alt="Customer photo" />
            <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-6.jpg" alt="Customer photo" /> -->
          </div>
          <p class="delivered-text">
             <span>50,000+</span> GPS devices deployed nationwide!
          </p>
        </div>
      </div>
    </section>